[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"
pydantic = "*"
pydantic-settings = "*"
alembic = "*"
python-multipart = "*"
psycopg2-binary = "*"
celery = "*"
redis = "*"
pydub = "*"
aiofiles = "*"
audioop-lts = "*"
pre-commit = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
